extends ../index
block content
    div#wrap
        div.container.profile
        
            div.row(ng-controller = "ProfileCtrl")
                div.col-lg-4.profile-panel
                    div.row
                        div.col-lg-12
                            h2.panel-header About
                            //profile
                            div
                                div.row
                                    div.col-lg-3
                                        // User photo
                                        div.profile-photo(href="#", style="background: url(../images/default-user.png)")
                                    div.col-lg-8
                                        div.about-name
                                            form(editable-form name='editableForm' onaftersave='save()')
                                                span.fullname(editable-text='user.firstname' e-name='firstname' e-required) {{user.firstname}} {{user.lastname}} 
                                                span(editable-text='user.lastname' e-name='lastname' e-required) 
                                                span(showonhoverparent style='display:none')
                                                    i.glyphicon.glyphicon-pencil.edit-glyph(ng-click='editableForm.$show()' ng-show='!editableForm.$visible')
                                                span(ng-show='editableForm.$visible')
                                                    button(class="circle-button" type='submit', ng-disabled='editableForm.$waiting')
                                                        span.glyphicon.glyphicon-ok
                                                    button(class="circle-button" type='button', ng-disabled='editableForm.$waiting', ng-click='editableForm.$cancel()')
                                                        span.glyphicon.glyphicon-remove
                                        div.about-rank
                                            span(editable-select='rankId' e-ng-options='s.value as s.rank for s in ranks' onaftersave='saveRank()' e-form='positionForm') {{user.rank}} {{user.position}} 
                                            span(showonhoverparent style='display:none')
                                                i.glyphicon.glyphicon-pencil.edit-glyph(ng-click='positionForm.$show()' ng-hide='positionForm.$visible')
                                        div.about-department
                                            span(editable-select='user.department', e-ng-options='s.text as s.text for s in departments' onaftersave='save()' e-form='deptForm') {{ user.department }} 
                                            span(showonhoverparent style='display:none')
                                                    i.glyphicon.glyphicon-pencil.edit-glyph(ng-click='deptForm.$show()' ng-hide='deptForm.$visible')
                                        div.about-project 
                                            span.about-current-label.pull-left Current Project 
                                            span.about-current-value.pull-right KNOX Apps
                       
                       div.row(style="margin-top: 40px;", ng-show="topskills.length > 0")
                            div.col-lg-12.topskills-panel
                                h2.panel-header Top Skills
                               
                                ul.list-group.top-skills
                                    li.list-group-item(ng-repeat="skill in topskills")
                                        span.badge {{skill.project_count}}
                                        span.top-skill
                                            {{skill._id}}
                                        span.top-skill-days
                                            {{skill.project_days | milliSecondsToDays}} project exp


                div.col-lg-8.project-panel(ng-controller="ProjectsCtrl",ng-init="collapse = true")
                    div.row
                        div.col-lg-10
                            h2.panel-header Experience
                    div.row
                        div.col-lg-12.project-cards
                            // 2 column projects
                            div.project-card.col-lg-12(ng-repeat="project in projects")
                                div.col-md-2
                                    span.project-number {{$index+1 | leftpad}}
                                div.col-md-9(ng-click='collapse=!collapse')
                                    div.row
                                        span.project-name {{project.projectname}}
                                        span.project-date {{project.startdate | date:"MM/dd/yyyy"}} - {{project.enddate | date:"MM/dd/yyyy"}}
                                    div.row
                                        span.project-company  {{project.company}}
                                        span.project-industry {{project.industry}}
                                    br
                                    div.row
                                        span.project-skills-label  Skills
                                    div.row
                                        span.project-skills 
                                            span(ng-repeat="skill in project.skills") {{ skill.skill }} {{$last ? '' : ', '}}
                                    br
                                    div.row
                                        span.project-technologies-label  Technologies
                                    div.row
                                        span.project-technologies 
                                            span(ng-repeat="technology in project.technologies") {{ technology.technology }} {{$last ? '' : ', '}}
                                    br
                                    div.row
                                        span.project-tag(ng-repeat="tag in project.tags") \#{{tag.tag}}

                        
                            div.col-lg-12
                                button.add-button(ng-click="showProjectForm()")
                                    h1
                                        i.glyphicon.glyphicon-plus
                                    
                                    | Add Project Experience
                                        
