extends ../index
block content
    div#wrap
        div.container.profile

            div.row(ng-controller = "ProfileCtrl")
                div.col-lg-4.profile-panel
                    div.row
                        div.col-lg-12
                            h2.panel-header About
                            //profile
                            div.panel.panel-default
                                div
                                    div.row
                                        div.col-lg-4
                                            // User photo
                                            div.profile-photo(href="#", style="background: url(../images/default-user.png)")
                                        div.col-lg-8
                                            div.panel-body
                                                div.about-name
                                                    form(editable-form name='editableForm' onaftersave='save()')
                                                        span.fullname(editable-text='user.firstname' e-name='firstname' e-required) {{user.firstname}} {{user.lastname}} 
                                                        span(editable-text='user.lastname' e-name='lastname' e-required) 
                                                        span(showonhoverparent style='display:none')
                                                            i.glyphicon.glyphicon-pencil.edit-glyph(ng-click='editableForm.$show()' ng-show='!editableForm.$visible')
                                                        span(ng-show='editableForm.$visible')
                                                            button(class="btn btn-primary" type='submit', ng-disabled='editableForm.$waiting')
                                                                span.glyphicon.glyphicon-ok
                                                            button(class="btn btn-default" type='button', ng-disabled='editableForm.$waiting', ng-click='editableForm.$cancel()')
                                                                span.glyphicon.glyphicon-remove
                                                div.about-rank
                                                    span(editable-select='rankId' e-ng-options='s.value as s.rank for s in ranks' onaftersave='saveRank()' e-form='positionForm') {{user.rank}} {{user.position}} 
                                                    span(showonhoverparent style='display:none')
                                                        i.glyphicon.glyphicon-pencil.edit-glyph(ng-click='positionForm.$show()' ng-hide='positionForm.$visible')
                                                div.about-department
                                                    span(editable-select='user.department', e-ng-options='s.text as s.text for s in departments' onaftersave='save()' e-form='deptForm') {{ user.department }} 
                                                    span(showonhoverparent style='display:none')
                                                            i.glyphicon.glyphicon-pencil.edit-glyph(ng-click='deptForm.$show()' ng-hide='deptForm.$visible')
                                                div.about-project 
                                                    span.about-current-label.pull-left Current Project 
                                                    span.about-current-value.pull-right KNOX Apps
                       div.row
                            div.col-lg-12
                                h2.panel-header Stats

                div.col-lg-8.project-panel(ng-controller="ProjectsCtrl")
                    div.row
                        div.col-lg-10
                            h2.panel-header Experience
                        div.col-lg-2
                            a.btn.btn-danger(ng-click="showProjectForm()") Add
                    div.row
                        div.col-lg-12.project-cards
                            // 2 column projects
                            div.col-lg-4
                                div.panel.panel-default
                                    div.panel-body
                                        h4 Project Name
                                        p content

                            div.col-lg-4
                                div.panel.panel-default
                                    div.panel-body
                                        h4 subheading
                                        p content
                            div.col-lg-4
                                div.panel.panel-default
                                    div.panel-body
                                        h4 subheading
                                        p content

                            div.col-lg-4
                                div.panel.panel-default
                                    div.panel-body
                                        h4 subheading
                                        p content
