.modal-header.project-modal-header
 
  h4.modal-titleproject-modal-title  
      span.modal-icon
        i.glyphicon.glyphicon-book 
      Add Project
.modal-body()
    
    form.form-horizontal(ng-submit="saveProject()", method = "post")
        fieldset
            .form-group
              label.col-md-4.control-label(for='projectname') Project Title
              .col-md-7
                input#projectname.form-control.input-md(name='projectname', ng-model="project.projectname", type='text', placeholder='Project Name', required='')
            .form-group
              label.col-md-4.control-label(for='company') Company
              .col-md-7
                input#Company.form-control.input-md(name='company', ng-model="project.company", type='text', placeholder='Company', required='')
            .form-group
              label.col-md-4.control-label(for='industry') Industry
              .col-md-7
                select#Industry.form-control(name='industry', ng-model="project.industry")
                  option(value='1') Semiconductor
                  option(value='2') Utilities
                  option(value='3') Banking
            .form-group 
              label.col-md-4.control-label(for='startdate') Start Date
              .col-md-7
                p.input-group.datepicker
                  input.form-control(type='text', name='startdate', placeholder='Start Date', datepicker-popup='yyyy/MM/dd', ng-model='project.startdate', is-open='opened1', min-date='minDate', max-date='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='open1($event)')
                      i.glyphicon.glyphicon-calendar


             .form-group
               label.col-md-4.control-label(for='enddate') End Date
               .col-md-7
                p.input-group.datepicker
                  input.form-control(type='text', name='enddate', placeholder='End Date', datepicker-popup='yyyy/MM/dd', ng-model='project.enddate', is-open='opened2', min-date='minDate', max-date='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='open2($event)')
                      i.glyphicon.glyphicon-calendar
                      
            hr
            .form-group
              label.col-md-4.control-label(for='skills') Skills
              .col-lg-7
                tags-input#skills(ng-model="project.skills", name="skills", display-property="skill", minTags="1", min-length=1, add-from-autocomplete-only="true", placeholder="i.e. Java, Android, MongoDB. etc.")
                    auto-complete(source = "loadSkills($query)", min-length = 1, load-on-down-arrow = "true", debounce-delay=10, max-results-to-show=5)
                
            .form-group
              label.col-md-4.control-label(for='technologies') Technologies
              .col-lg-7
                tags-input#technologies(ng-model="project.technologies", name="technologies", minTags="1", display-property="technology", min-length=1, add-from-autocomplete-only="true", placeholder="i.e. Machine Learning, Data Warehousing, etc.")
                    auto-complete(source = "loadTechnologies($query)", min-length = 1, load-on-down-arrow = "true", debounce-delay=10, max-results-to-show=5)
                
            // Textarea 
            .form-group
              label.col-md-4.control-label(for='Tags') Tags
              .col-md-7
                tags-input#tags(ng-model="project.tags", display-property="tag", name="tags", min-length=3, placeholder="Project Tags")
            
            button.btn.btn-default(type="submit") Save

.modal-footer