doctype html
html(ng-app = "skillsdb")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/ng-tags-input.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/xeditable.css')
    link(rel='stylesheet', href='/stylesheets/ngToast.min.css')
    
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/angular.js')
    script(type='text/javascript', src='/javascripts/angular-animate.js')
    script(type='text/javascript', src='/javascripts/angular-sanitize.js')
    script(type='text/javascript', src='/javascripts/angular-resource.min.js')
    script(type='text/javascript', src='/javascripts/ui-bootstrap-tpls-0.11.2.js')
    script(type='text/javascript', src='/javascripts/ng-tags-input.min.js')
    script(type='text/javascript', src='/javascripts/ngToast.min.js')
    script(type='text/javascript', src='/javascripts/skillsdb.js')
    script(type='text/javascript', src='/javascripts/xeditable.min.js')

  body
    div.navbar_container
        nav.navbar.navbar-static-top.navbar-default(role="navigation")
            div.container
                div.navbar-header
                    a.navbar-brand(href="#") 
                        img(src="/images/logo.png")
                div.navbar-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li 
                           // a(href="#") Logout
        block nav
    ng-toast
    block content
    //ng-view
    
    
